body{
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    box-sizing: border-box;
}

.wrapper{
    border: 1px solid;
    padding: 20px 15px;
    width: 190px;
    height: 320px;
    background: rgb(34, 44, 44);
    color: white;
    margin: 100px auto;
}
#random-password{
    color: rgb(36, 216, 81)
}
p{
    color: whitesmoke;
    font-size: 16px;
}
#generate{
    width: 120px;
    padding:4px;
    font-size: 11px;
    margin: 20px 0 0px 0px;
    background: rgb(36, 216, 81);
    border: none;
    border-radius: 4px;
    color: white;
}

.line{
    width: 180px;
    height: 0px;
    margin: 35px 0;
    border-bottom: 0.2px ridge grey ;
}

#empty-button-1{
    width: 170px;
    background: rgb(60, 73, 73);
    height: 20px;
    border-radius: 4px;
    border: none;
    margin-right: 15px;
}
#empty-button-2{
    width: 170px;
    background: rgb(60, 73, 73);
    height: 20px;
    border-radius: 4px;
    border: none;
}
.empty-buttons{
    display: flex;
    
}